# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Node modules
frontend/node_modules/
frontend/dist/

# Env
.env
.env.local

# Executable outputs
JazaSort.exe
JazaSort_New.exe

# Documentation & Specifications
docs/

# Rust build artifacts
target/
gen/
