# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Wails
build/bin/
build/windows/icon.ico
build/windows/*.syso
build/windows/wails.exe.manifest
build/windows/info.json

# Node modules
frontend/node_modules/
frontend/dist/

# Env
.env
.env.local

# Executable outputs
JazaSort.exe
JazaSort_New.exe
